body {
    background-image: url(../../assets/image/background_2000.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 100vh;
    font-family: 'arcadeClassic', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: 'arcadeClassic';
    src: url(../font/arcadeClassic/ARCADECLASSIC.ttf)  format("truetype");
}
h2 {
    text-align:center;
    margin:0 auto;
}

.leftCliff {
    background-image: url(../../assets/image/leftCliff.png);
    background-repeat: no-repeat;
    background-position: right -70px;
    height: 100vh;
    z-index:2;
}
.main-game {
    position:absolute;
    visibility: visible;
    overflow: visible;
    z-index:1;
}
div#word-to-guess {
    text-align: center;
    margin: 0 auto;
    font-size: 4em;
}

.rightCliff {
    background-image: url(../../assets/image/rightCliff.png);
    background-repeat: no-repeat;
    background-position: left -70px;
    height: 100vh;
    z-index:2;
}

.game-settings {
    z-index:90;
    
}
#wrong_letter {
    font-size: 2em;
    margin:0 auto;
    text-align: center;
}

/* Flex testing */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    height:325px;
    margin:auto 0 0 0;
    }

.flex-left {
    order: 0;
    flex: 0 1 auto;
    align-self: stretch;
    width:350px;
    /* background-color: rgba(155, 134, 222, .5); */
    padding:1px;
    margin:1px;
    }

.flex-middle {
    order: 0;
    flex: 1 0 auto;
    align-self: baseline;
    /* background-color: rgba(70, 134, 222, .5); */
    background-image: url(../../assets/image/bridge_repeat.png);
    background-repeat:repeat-x;
    background-position: top;
    height:150px;
    margin-top: -20px;
    }

.flex-right {
    order: 0;
    flex: 0 1 auto;
    align-self: stretch;
    width:350px;
    /* background-color: rgba(250, 70, 70, .5); */

    padding:1px;
    margin:1px;
    }
.cliff-left-img {
    top: -514px;
    position: absolute;
    left: -260px;
}
.cliff-right-img {
    top: -514px;
    position: absolute;
    right: -260px;
}
.intro-banner img {
    margin: 0 auto;
}
#start-game {
    position: fixed;
    right:0;
    left:0;
    margin:0 auto;
    z-index: 1149;
    margin:auto;
    top:30vh;
}
#start-game .start-game-modal {
    width: 500px;
    background-color: #fff;
    color: darkcyan;
    z-index: 950;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin:auto;
}
button#erase-button {
    padding: 1px 32px;
    border-radius: 5px;
    background-color: lightseagreen;
    color: #fff;
    font-size: 2em;
    margin: 10px;
}
.fixed-animation {
    position: fixed;
    bottom: 0;
    height: 700px;
    /* background-color: rgba(23,16,47,0.5); */
    width: 100%;
    z-index: 1040;
}
.win-modal {
    width: 300px;
    height:300px;
}
.win-modal button {
    background-color:darkcyan;
    margin: 0 auto;
    display:block;
}
.swal-title {
    color: darkcyan;
}

.statistics {
    background-color:#7b386c;
    color:#fff;
    padding:10px;
}
.swal-button-container {
    margin: 0 auto;
    display: block;
    color:darkcyan;

}

.character {
    position: absolute;
    bottom: 273px;
}
img.character.indy-landing {
    left:30px;
}
img.character.indy-standing {
    left:100px;
}
img.character.indy-walking {
    left:220px;
}
img.character.indy-whip {
    left:350px;
}
img.character.skel-attacking {
    left:340px;
    bottom: 238px;
}
img.character.skel-standing {
    left:640px;
    bottom: 248px;
}
img.character.skel-walking {
    left: 900px;
    bottom: 238px;
}
#playPauseBtn {
    background-image: url(../../assets/image/mute-audio.gif);
    width: 35px;
    height: 28px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
    outline: none;
    border: none;
    margin: 16px;
}